*{
    margin:0;
    padding:0;
    font-family:poppins,sans-serif;
  }
  body{
    margin:auto,0;
  }
  form{
    margin:auto,0;
    padding:50px;
    padding-left:500px;
    background-color:grey;
    color:white;
    padding-top:80px;
  }
  #inputEmail4{
    margin-bottom:20px;
    width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputPassword4{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputAddress{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputAddress2{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputCity{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputState{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #inputZip{
    margin-bottom:20px;
     width:50%;
    height:20px;
    border-style:solid;
    border-radius:5px;
  }
  #gridCheck{
    margin-bottom:20px;
  }